# Database Configuration (PostgreSQL DWH)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mental_health_dwh
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA_STAGING=staging
DB_SCHEMA_DWH=dwh
DB_SCHEMA_MARTS=marts

# Path Configuration
RAW_DATA_PATH=data/01_raw
STAGING_DATA_PATH=data/02_staging
PROCESSED_DATA_PATH=data/03_processed

# pgAdmin (Optional)
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
